apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: cms-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: tarunsai2006/fullstack-backend:latest
          ports:
            - containerPort: 8081
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: docker
            - name: SPRING_DATASOURCE_URL
              value: jdbc:mysql://mysql.cms-app.svc.cluster.local:3306/cms-backend
            - name: SPRING_DATASOURCE_USERNAME
              value: root
            - name: SPRING_DATASOURCE_PASSWORD
              value: tarunsai@123
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: cms-app
spec:
  selector:
    app: backend
  ports:
    - port: 8081
      targetPort: 8081
  type: ClusterIP
